<odoo>
  <data>

    <!-- Top menu item -->

	<menuitem name="Servicio" id="cam_service_menu_root" groups="group_name_menu_cam" action="cam_service_action_window"
		            web_icon="cam_base,static/description/icon.png"/>

    <!-- Menus -->
    
	<menuitem id="cam_serice_menu" name="Servicio" parent="cam_service_menu_root" action="cam_service_action_window"/>    	
	<menuitem id="cam_task_menu" name="Tareas predefinidas" parent="cam_service_menu_root" action="cam_task_action_window"/>    	
	<menuitem id="workshop" name="Taller" parent="cam_service_menu_root" action="cam_workshop_action_window"/>    	
	<menuitem id="mechanic" name="Mecanico" parent="cam_service_menu_root" action="cam_mechanic_action_window"/>    	
		
		
  </data>
</odoo>